<nav>
    <div>
        <div>
            <a href="">Logo inicio</a>
        </div>
        <div>
            <a href="">Foros</a>
        </div>
        <div>
            <a href="">Contacto</a>
        </div>
    </div>
</nav>