* {
    padding: 0px;
    margin: 0px;
    color: white;
    border: 1px solid;
    border-color: gray;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(51, 90, 126);
}

header {
    color: red;
}